<div class="container">
  <div class="timer-display">
    <div ng-show="!onBreak">
      <h2>Begin Work</h2>
      <div class="clock" ng-bind="currentTime | countdown"></div>
      <a class="timer-button" ng-bind="buttonStatus" ng-click="start()"></a>
    </div>

    <div ng-show="onBreak">
      <h2>Take a Break</h2>
      <div class="clock" ng-bind="currentTime | countdown"></div>
      <a class="timer-button" ng-bind="buttonStatus" ng-click="start()"></a>
    </div>

    <h3>Number of Breaks: <a ng-bind="numberOfBreaks"></a></h3>
  </div>
</div>
