<div class="row">
  <div class="show-worktime" ng-show="!onBreak">
    <div class="break">BEGIN WORK</div>
    <div class="clock" ng-bind="currentTime | countdown"></div>
    <a ng-class="ionclass" ng-bind="buttonStatus" ng-click="start()"></a>
    <a class="ion-skip-forward" ng-bind="buttonStatus" ng-click="next()"></a>
  </div>

  <div class="show-breaktime" ng-show="onBreak">
    <div class="break">TAKE A BREAK</div>
    <div class="clock" ng-bind="currentTime | countdown"></div>
    <a ng-class="ionclass" ng-bind="buttonStatus" ng-click="start()"></a>
    <a class="ion-skip-forward" ng-bind="buttonStatus" ng-click="next()"></a>
  </div>

  <div class="breakCounter">Number of Breaks: <a ng-bind="numberOfBreaks"></a></div>
</div>
