<!-- <section class="new-task">
    <p class="task-description">Task Description</p>
    <input type="text" class="task-field" ng-model="description" placeholder="Enter new description">
    <button class="submit" ng-click="task.addTask(description)">Add Task</button>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in complete.tasks">
    <button class="ion-checkmark-circled" ng-click="complete.removeTask(task)"></button>
    <p class="task-description">{{ task.description }}</p>
  </div>
</section> -->
